
<!-- index.html -->
{% extends "base.html" %}
{% block content %}
<div class="container text-center my-4">
    <h1>Saavn Music Player</h1>
    <a href="/search" class="btn btn-primary">Search Songs</a>
    <div class="row">
        {% for song in songs %}
        <div class="col-md-3">
            <div class="card" onclick="playSong('{{ song.downloadUrl[4].link }}', '{{ song.name }}', '{{ song.image[2].link }}')">
                <img src="{{ song.image[2].link }}" class="card-img-top" alt="{{ song.name }}">
                <div class="card-body">
                    <p class="card-text">{{ song.name }}</p>
                    <p class="text-muted">{{ song.artist }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
