.notification-holder {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 300px;
    max-height: 150px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.notification-box {
    background: var(--card-back);
    border: 2px solid var(--text-notif);
    border-radius: 17px;
    display: flex;
    padding: 10px;
}

.notif-desc {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-notif);
}

.please-wait {
    padding-top: 10px;
    font-size: 12px;
}

