.queue-holder {
    display: flex;
    position: fixed;
    bottom: 190px;
    right: 0;
    transform: translateX(358px);   
    justify-content: center;
    align-items: center;
    transition: transform .3s;
}
.q-open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 80px;
    background: var(--out-accent);
    border-radius: 8px 0 0 8px;
    color: var(--back-dark);
    cursor: pointer;
}
.queue-container {
    border: 4px solid var(--out-accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--back-dark);
    opacity: 90%;
    border-radius: 17px;
    padding-right: 20px;
    width: 330px;
    color: var(--text-notif);
}
.queue-header-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.queue-title {
    align-self: center;
    
}
.queue-list {
    padding: 20px;
    padding-top: 0;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.queue-list::-webkit-scrollbar {
    display: none;
}

.queue-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    background: var(--card-back);
    border-radius: 17px;
    height: fit-content;
    border: 3px solid var(--out-accent);
    width: fit-content;
    margin-top: 10px;
}

.queue-item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.q-art {
    width: 40px;
    height: 40px;
}

.q-song-name {
    width: 180px;
    padding-left: 20px;
}

.q-del-btn {
    border-radius: 8px;
    width: 20px;
    height: 20px;
    background: var(--out-accent);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.queue-item.dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    background-color: #f0f0f0;
}