<!-- index.html -->
{% extends "base.html" %} {% block content %}

<div class="container text-center my-4">
  <h1 class="mb-4">Saavn Music Player</h1>
    <form  method="GET" action="{{ url_for('search') }}">

  <input
    type="text"
    id="search-query"
    class="form-control search-bar"
    type="search" name="q"
    placeholder="Search for a song..."
  />
  <button class="btn btn-primary mb-3" type="submit">Search</button>
</form>
  <div class="row" id="song-list"></div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
{%if songs!=[]%}
  {% for song in songs %}
  <div class="card text-center p-2">
    <img
      src="{{ song.image[1].link|default('https://via.placeholder.com/200') }}"
      class="card-img-top"
      alt="{{ song.album.name|default('Unknown Song') }}"
      style="border-radius: 10px; border: 3px solid #00ccff"
    />
    <div class="card-body">
      <p class="card-text">{{ song.album.name|default('Unknown Song') }}</p>
      <p class="artist-text">
        {{ song.primaryArtists|default('Unknown Artist') }}
      </p>
    </div>
  </div>
  {% endfor %}
  {%else%}
  <div class="card text-center p-2">
    <img
      src="'https://via.placeholder.com/200'"
      class="card-img-top"
      alt="'Unknown Song'"
      style="border-radius: 10px; border: 3px solid #00ccff"
    />
    <div class="card-body">
      <p class="card-text">Unknown Song</p>
      <p class="artist-text">
        Unknown Artist
      </p>
    </div>
  </div>
  {%endif%}
</div>
</div>

{% endblock %}
